{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <div class="row" style="margin: 2px;">
        <div class="col-4">
            <img src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="profile photo" class="img-rounded" style="width: 196px; height: 196px; margin-left:5px;">
        
        </div>
        <div class="main col-6">
            <h4 style="margin-top: 20px;">{{ profile }}</h4>
            <div style="margin-top: 20px; opacity: 65%;">
                <h5> <b>{{ posts_number }}</b> Posts<span style="margin-left:20px;"></span> <b>{{ followers }}</b> Followers<span style="margin-left:20px;"></span>  <b>{{ following }}</b> Following </h5>
            </div>
            <div>
                {% if user.is_authenticated %}
                    {% if user.id != profile.id %}
                        {% if is_following %}
                            <form action="{% url 'unfollow' profile %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-primary" style="margin-top:20px; width: 300px;">Unfollow</button>
                            </form>
                        {% else %}
                            <form action="{% url 'follow' profile %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-primary" style="margin-top:20px; width: 300px;">Follow</button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% for post in posts %}
        <div style="border: 1px solid #b9b9b9; margin-left: 10px; margin-right: 10px; margin-top: 10px;">
            <div class="row" style="margin: 5px;">
                <div>            
                    <ul style="list-style:none; padding-left: 1px;">
                        <li > <a href="{% url 'profile' post.author %}" style="color:black;"> <b>{{ post.author }}</b></a></li>
                        <li id="post-content-{{post.id}}" style="margin-top: 5px;"> {{ post.content }}</li>
                        {% if request.user == post.author %}
                            <button data-edit="{{ post.id }}" class="edit-button">Edit</button>
                        {% endif %}
                        <li style="color: rgb(183, 183, 183)"> {{ post.timestamp }} </li>
                    </ul>
                    <div>
                        <span id="likes-count-{{post.id}}"> {{ post.likes_count}} </span> Likes
                    </div>
                        
                    <div style="margin-top:7px;">
                        {% if user.is_authenticated %}
                        {% if request.user in post.likes.all %}
                            <button data-post="{{ post.id }}" class="like-button">Unlike</button>
                        {% else %}
                            <button data-post="{{ post.id }}" class="like-button">Like</button>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    <nav aria-label="Page navigation example" style="margin-top: 10px;">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
            {% endif %}
            {% for page in paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% endif %}
          </li>
        </ul>
      </nav>
{% endblock %}

{% block script %}
      <script src="{% static 'network/index.js' %}"></script>
{% endblock %}